body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 10px;
    background-color: rgb(186, 161, 183);
    color: rgb(61, 61, 56);

}


header{
    background-color: rgb(195, 239, 213);
    color: rgb(26, 9, 76);
    text-align: center;
    padding: 2rem 1rem;

}

header img{
        width: 200px;
        height: 200 px;
        border: 3px solid rgb(171, 17, 17);
        margin-bottom: 4rem;
}

h2{
    color: rgb(7, 7, 7);
    border-bottom: 2px solid rgb(220, 23, 36);
    padding-bottom: 0.5rem;

}


ul{
    list-style-type: lower-alpha;
    padding: 0;

}

footer{
    text-align: center;
    background-color: rgb(197, 215, 190);
    color: rgb(7, 7, 7);
    padding: 1rem;
}



